.foter {
    background: black;
    margin: 0;
    padding: 2px;
    height: 100;
}

.snow {
    background: linear-gradient(
        to right,
        #3F37C9 20%,
        #4361EE 30%,
        #4895EF 70%,
        #4CC9F0 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
